.flex{
    font-family: 'Acumin Pro';
    width: 1318px;
    margin: 56px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pop{
    width: 400px;
    padding: 40px;
    background-color: #FCFCFC;
}
.pop h3{
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 30px;
}
.grey{
    color: #404040;
    font-weight: medium;
    font-size: 13px;
    line-height: 19px;
    text-decoration: none;
}
.head{
    font-size: 20px;
    line-height: 28px;
}
.artc{
    margin-bottom: 24px;
}
.story{
    font-size: 15px;
    line-height: 21px;
}
.image{
    background-image: url("../pics/india.jpg");
    background-position: center;
    background-size: cover;
    height: 470px;
    width: 600px;
    position: relative;
}
.photo-text{
    position: absolute;
    left: 40px;
    bottom: 30px;
}
.photo-text h3{
    font-size: 32px;
    line-height: 44px;
    color: white;
}
.trending{
    display: flex;
    margin: 60px auto;
    background-color: #FCFCFC;
}
.trend{
    width: 377px;
    margin-right: 50px;
}
.trend img{
    width: 100%;
}
.exp{
    display: flex;
}