.flex{
    font-family: 'Acumin Pro';
    max-width: 1318px;
    margin: 56px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pop{
    width: 400px;
    padding: 40px;
    background-color: #FCFCFC;
}
.pop h3{
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 30px;
}
.grey{
    color: #404040;
    font-weight: medium;
    font-size: 13px;
    line-height: 19px;
    text-decoration: none;
}
.head{
    font-size: 20px;
    line-height: 28px;
}
.artc{
    margin-bottom: 24px;
}
.story{
    font-size: 15px;
    line-height: 21px;
}
.image{
    background-image: url("../pics/india.jpg");
    background-position: center;
    background-size: cover;
    height: 470px;
    width: 600px;
    position: relative;
}
.photo-text{
    position: absolute;
    left: 40px;
    bottom: 30px;
}
.photo-text h3{
    font-size: 32px;
    line-height: 44px;
    color: white;
}
.trending{
    margin: 60px auto;
    font-size: 26px;
    line-height: 36px;
}
.title:before {
    content:'';
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color: #6294A2;
    border-radius: 50px;
    margin-right: 10px;
}
.trend{
    max-width: 377px;
    margin-right: 20px;
}
.trend img{
    width: 100%;
}
.foot{
    background-color: #FCFCFC;
    max-width: 1920px;
    font-family: 'Acumin Pro';
}
.explore{
    max-width: 1318px;
    margin: 60px auto;
    border: 1px red solid;
}
.foot a{
    font-family: 'Acumin Pro';
    text-decoration: none;
    color: black;
    line-height: 28px;
}
.exp{
    display: flex;
    justify-content: space-between;
}
.title{
    margin-bottom: 40px;
    font-size: 22px;
}